# Ігнорування файлів конфігурації
*.log
*.env

# Ігнорування папки з віртуальним оточенням Python
venv/
.venv/

# Ігнорування файлів компіляції
*.pyc
__pycache__/

# Ігнорування директорії з налаштуваннями редактора
.idea/
.vscode/
