# Виключення директорій bin та obj
bin/
obj/

# Виключення NuGet пакетів
*.nupkg
packages/

# Виключення архівів
*.rar
*.zip

# Виключення виконуваних файлів
*.exe
*.dll

# Перевірка наявності .gitignore
.gitignore

# Виключення користувацьких файлів налаштувань Visual Studio
*.suo

# Виключення IDE специфічних директорій
.idea/
.vscode/

# Інші можливі типові виключення для .NET проєктів
*.user
*.cache
*.pdb
*.log
TestResults/
*.pidb
