<h1>Ласкаво просимо до Lab5 WebApp</h1>
<p>Цей додаток дозволяє виконувати обробку текстових даних за допомогою 3 підпрограм. 
    Для доступу до них необхідно зареєструватися або увійти.</p>
<a href="/Account/Login">Увійти</a> або <a href="/Account/Register">Зареєструватися</a>
